<%inherit file="/main.html" />
<%!
from django.urls import reverse
%>

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('select#id_user').select2({
             width: "50%",
             placeholder: "Select a user",
             ajax: {
                 url: "${reverse('colaraz_features:user-list-api-view')}",
                 delay: 1000,
                 data: function (params) {
                     return  {
                         search: params.term,
                         page: params.page || 1
                     }
                 }
             }
        });
    });
    $(document).ready(function() {
        $('select#id_course_ids').select2({
            tags: true,
            tokenSeparators: [',', ' '],
            width: "50%",
            placeholder: "Add Course identifiers separated by a comma or space."
        });
    });
</script>

<section class="course-privileges">
    <div class="dashboard-header">
        <h1>Course Privileges</h1>
    </div>
    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
        ${form.as_p() | n}
        <div class="privileges-footer">
            <button type="submit" class="btn cz-btn cz-btn-primary">Save</button>
        </div>
    </form>
</section>
