<%inherit file="/main.html" />
<%!
from django.urls import reverse
%>
<%namespace name='static' file='/static_content.html'/>

<script>
    $(document).ready(function(){
        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        }

        let q = getUrlParameter('q');
        if(q){
            $('#searchbar').val(q);
        }
    });
</script>

<section class="course-privileges">
    <div class="dashboard-header">
        <h1>Course Privileges</h1>
        <a class="btn cz-btn cz-btn-primary" href="${reverse('colaraz_features:course-access-roles-create')}">Create New</a>
        <div class="privileges-search-bar">
            <form method="GET">
                <input type="text" class="search-field" size="40" name="q" value="" id="searchbar" autofocus="">
                <button type="submit" class="search-button"><span class="fa fa-search"></span></button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Org</th>
                <th>Course ID</th>
                <th class="role">Role</th>
            </tr>
        </thead>
        <tbody>
            %for access_role in object_list:
                <tr>
                    <td>
                        <a
                            href="${reverse('colaraz_features:course-access-roles-update', args=(access_role.id,))}"
                        >${access_role.id}</a>
                    </td>
                    <td>${access_role.user and access_role.user.email}</td>
                    <td>${access_role.org or "-"}</td>
                    <td>${access_role.course_id or "-"}</td>
                    <td class="role">${access_role.role}</td>
                </tr>
            %endfor
        </tbody>
    </table>

    <br />
    %if page_obj:
    <div class="privileges-footer">
        <ul class="pagination">
            %if page_obj.has_previous():
            <li><a href="?page=1">&laquo; First</a></li>
            <li><a href="?page=${ page_obj.previous_page_number() }">Previous</a></li>
            %endif
            <li>Page</li>
            <li class="active"><span>${ page_obj.number }</span></li>
            <li>of</li>
            <li><span>${ page_obj.paginator.num_pages }</span></li>
            %if page_obj.has_next():
            <li><a href="?page=${ page_obj.next_page_number() }">Next</a></li>
            <li><a href="?page=${ page_obj.paginator.num_pages }">Last &raquo;</a></li>
            %endif
        </ul>
    </div>
    %endif
</section>
