<%inherit file="/main.html" />
<%!
from django.urls import reverse
%>
<%namespace name='static' file='/static_content.html'/>

<style>
    table {
        width: 100%
    }
    th, td {
        text-align: left;
        padding: 8px 10px;
    }
    th {
        text-transform: uppercase;
    }
    .button {
        padding: 4px 20px;
        border-radius: 15px;
        line-height: 1em!important;
    }
    .pagination {
        float: right;
    }
    .step-links a, .step-links span {
        margin-left: 10px;
    }
    #searchbar {
        margin: 0 10px;
    }

</style>
<script>
    $(document).ready(function(){
        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        }

        let q = getUrlParameter('q');
        if(q){
            $('#searchbar').val(q);
        }
    });
</script>

<section class="container">
    <div>
        <h2 style="float: left">Course Access Roles</h2>
            <a class="button" style="float: right"
                href="${reverse('colaraz_features:course-access-roles-create')}"
            >Create New</a>
    </div>
    <br />
    <br />
    <br />
    <div>
        <form method="GET">
            <label for="searchbar"><img src="${static.url('admin/img/search.svg')}" alt="Search"></label>
            <input type="text" size="40" name="q" value="" id="searchbar" autofocus="">
            <input type="submit" value="Search">
        </form>
    </div>
    <br />
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Org</th>
                <th>Course ID</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            %for access_role in object_list:
                <tr>
                    <th>
                        <a
                            href="${reverse('colaraz_features:course-access-roles-update', args=(access_role.id,))}"
                        >${access_role.id}</a>
                    </th>
                    <td>${access_role.user and access_role.user.email}</td>
                    <td>${access_role.org or "-"}</td>
                    <td>${access_role.course_id or "-"}</td>
                    <td>${access_role.role}</td>
                </tr>
            %endfor
        </tbody>
    </table>

    <br />
    %if page_obj:
        <div class="pagination">
            <span class="step-links">
                %if page_obj.has_previous():
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page=${ page_obj.previous_page_number() }">previous</a>
                %endif

                <span class="current">
                    Page ${ page_obj.number } of ${ page_obj.paginator.num_pages }.
                </span>

                %if page_obj.has_next():
                    <a href="?page=${ page_obj.next_page_number() }">next</a>
                    <a href="?page=${ page_obj.paginator.num_pages }">last &raquo;</a>
                %endif
            </span>
        </div>
    %endif
</section>
