<%inherit file="/main.html" />
<%!
from django.urls import reverse
%>

<section class="course-privileges">
    <div class="dashboard-header">
        <h1>Course Privileges</h1>
    </div>
    <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
        <p>Are you sure you want to delete selected course privileges?</p>
        <ul>
            %for obj in objects:
                <li><p>${obj}</p></li>
            %endfor
        </ul>
        <div class="privileges-footer">
            <button type="submit" class="btn cz-btn cz-btn-danger">Delete</button>
        </div>
    </form>
</section>
